@import url("locadile-icons.css") screen;
@import url("search.css") screen;
@import url("login.css") screen;
/* nicht 980, da 16px scrollbalken sind (in ff) */
@media screen and (max-width: 995px) {

}

body {
    font-family: 'Lato';   
    margin: 0px;    
    background: url(../images/bg-features.jpg);
    overflow-x: hidden;
    font-weight: 300;
}
input {
     font-family: 'Lato';
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
.overflow-visible .flex-viewport {
    overflow: visible!important;
}
#flexslider-head .flex-viewport {
    overflow: hidden!important;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/*  */

.wrapper {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}



h1 {
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 24px;
    margin-top: 18px;
    display: inline-block;
}
h1 span {
    font-weight: 100;
}
h1 a {
    color: #fff;
    text-decoration: none;
}
h1 a:hover {
    color: #33B0E2;
}
.grey-mustered {
    background: url(../images/bg-features.jpg);
}    
.white-bg {
    background-color: #ffffff;
}
strong { font-weight: 500; }




/** HEAD / HEAD-START iPhone / STARTSEITE **/
    .head  {
        /*animation-name: resize;
        animation-duration: 20s;
        animation-iteration-count: infinite ;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;*/
        background-position: top center;
        height: 650px;
        width: 100%;
        position: relative;
    }
    .head .start {
        top: 247px;
        left: 80px;
        position: absolute;
    }
    .head .iphone-start {
        width: 380px;
        height: 505px;
        background-image: url(../images/iphone-start.png);
        position: absolute;
        top: 145px;
        right: 78px;
    }
    /* Mapbox */
    .head .iphone-start #map { 
        position: absolute; 
        top:0; 
        width:100%; 
        background-color: #EFEFEF; 
        width:320px; 
        height:372px; 
        left: 32px; 
        top: 133px;
    }
    .head .iphone-start #map .zoomer,
    .head .iphone-start #map .map-fullscreen {
        background-color: #0092CB;
        border-radius: 0px;
        border: 0px;
    }    
    #map.fullscreen {
        min-height: 100%; 
        height: auto !important; 
        height: 100%;
    }    
    .featured {
        /*min-height: 560px;*/
        /*margin-bottom: 40px;*/
    }
    .featured > h2 {
        margin: 0px;
        line-height: 16px;
        padding-top: 62px;
        background-image: url(../images/line-bottom.jpg);
        background-repeat: repeat-x;
        background-position: center bottom;
        padding-bottom: 33px;
        font-weight: 300; 
        font-size: 30px; 
        color: #333333;
    }
/** HEAD / HEAD-START iPhone **/    



/** GET STARTED STARTSEITE **/
    div.get-started {
        text-align: center;
        padding-top: 52px;
    }
    div.get-started > h2 {
        font-weight: 300;
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }
    div.get-started > div.subline {
        margin-top: 9px;
        font-weight: 300;
    } 
    div.get-started div.features123 {
        margin-top: 40px; 
        padding-bottom: 40px;
    }
    div.get-started div.four p {
        font-weight: 300;
        font-size: 14px; 
        line-height: 24px;
        text-align: center; 
        color: #333333;
        margin-top: 10px;
    }    
/** GET STARTED **/    



/** TOP-BAR **/
    .top-bar {
        height: 65px;
        width: 100%;
        background: url(../images/top-bar.png);
        position: absolute; 
        top: 0px;
        left: 0px;
        z-index: 11;
    }
    .top-bar ul.controlls {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        background-image: url(../images/seperator.png);
        background-repeat: repeat-y;
        background-position: left;    
    }
    .top-bar ul.controlls > li {
        float: left;
        background-image: url(../images/seperator.png);
        background-repeat: repeat-y;
        background-position: right;
        line-height: 60px;
        height: 65px;
        padding: 0px 30px 0px 30px;
        position: relative;
        color: #fff;
    }
    .top-bar ul.controlls > li #login-button {
        background-image: url(../images/topbar/icon-login.png);
        display: block;
        width: 29px;
        height: 30px;
        margin: 15px 0 0 0;
        cursor: pointer;
    }
/** TOP-BAR **/


/** STORE DETAIL OVERLAY bzw. FILTER **/
    form.store-detail-overlay:after, form.store-detail-overlay:before { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
    form.store-detail-overlay:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 10px; right: 30px; margin-left: -10px; } 
    form.store-detail-overlay:before { border-color: rgba(0, 0, 0, 0); border-bottom-color: transparent; border-width: 16px; left: 50%; margin-left: -16px; }

    form.store-detail-overlay {
        display: none;
        
                box-shadow: 0 0 5px #ccc;
           -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;         
        
        width: 460px;
        background-color: #fff; 
        z-index: 199; 
        line-height: normal; 
        padding: 20px;
        font-size: 18px;
        color: #333333;
        font-weight: 300;
        margin: 0px;
        list-style-type: none;   

        position: absolute; 
        right: 82px; 
        top: 58px; 
        z-index: 11;    
    }
    form label {
       font-size: 18px;
    }
    form.store-detail-overlay > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;     
    }
    form.store-detail-overlay .greybox {
        background-color: #f0efef; 
        padding: 20px; 
        margin-top: 20px; 
        position: relative;
    }
    form.store-detail-overlay > ul > li:first-child {
        margin-top: 0px;
        padding-top: 25px; padding-bottom: 18px;
    }
    form.store-detail-overlay  > ul > li {
        background-color: #f0efef; 
        padding: 20px; 
        margin-top: 20px; 
        position: relative;    
    } 
    /* checkbox */
    form.store-detail-overlay  span.custom.checkbox {
        width: 20px;
        height: 20px;
        border: 2px dashed #919191;
        border-radius: 5px;
        background-image: none;
        float: right;
        top: -2px;
                -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out; 
            -o-transition: all .25s ease-in-out; 
    }
    /* gecheckte checkbox */
    form.store-detail-overlay  span.custom.checkbox.checked {
        border: 2px solid #333333;
        background-image: url(../images/checkbox-checked.png);
        background-position: 3px 5px;
    }
    /* gradient verlauf  */
    form.store-detail-overlay .gradient {
        padding: 0px;
        background: url("../images/gradient.png") no-repeat scroll bottom transparent;
        height: 39px; 
        position: absolute; 
        left: 0px; 
        bottom: 0px; 
        z-index: 1; 
        width: 100%;
    }
    form.store-detail-overlay li.not-signed-in {
        height: 60px; 
        line-height: 60px;
    }
    form.store-detail-overlay li.not-signed-in a.sign-in {
        background-color: #009DDC; 
        display: block; 
        position: absolute; 
        right: 0px; 
        top: 0px; 
        width: 100px; 
        height: 100px; 
        color: #fff; 
        text-decoration: none; 
        text-align: center; 
        font-size: 14px;
        line-height: normal;
        
        -webkit-transition: all .25s ease-in-out;
           -moz-transition: all .25s ease-in-out; 
             -o-transition: all .25s ease-in-out;         
    }
    form.store-detail-overlay li.not-signed-in a.sign-in:hover {
        background-color: #181717;
    }
    /* nano */
    form.store-detail-overlay .nano { max-width: 460px; height: 300px; }
    form.store-detail-overlay .nano .content {  padding: 0 20px 20px 20px;  }
    form.store-detail-overlay .content .categories { padding-bottom: 40px!important; }
    form.store-detail-overlay .nano .pane   { background: #333333; z-index: 2; width: 6px; right: 0px; bottom: 20px; }
    form.store-detail-overlay .nano .slider { background: #d0d0d0; width: 6px; margin: 0px; }


    form.store-detail-overlay .ribbon {
        position: absolute;
        background-image: url(../images/top-bar.png);
        color: #fff;
        text-transform: uppercase;
        left: -20px;
        padding: 7px 20px 8px 40px;
        z-index: 5;
        top: 20px;
    }
    form.store-detail-overlay .categories {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    form.store-detail-overlay .categories li:first-child {
        margin-top: 5px;
    }
    form.store-detail-overlay .categories li {
        float: none;
        display: block;
        margin-top: 32px;
    }
    form.store-detail-overlay > ul > li i {
        margin-right: 10px;
        width: 20px;
        display: inline-block;
    }
/** STORE DETAIL OVERLAY bzw. FILTER **/


    
    div.flexslider {
        margin: 31px -20px 48px -20px;
        background-color: transparent!important;
        border: 0px!important;       
        box-shadow: none!important;
        margin: 
    }

    .flex-direction-nav li a {
        background-image: url(../images/slider-controlls.png);
        width: 45px;
        height: 45px;
        display: none;
    }
    .flexslider:hover .flex-prev:hover {
        background-position: 0px -45px;
    }
    .flexslider:hover .flex-next:hover {
        background-position: -45px -45px;

    }
    
    .flexslider:hover .flex-prev,
    .flexslider:hover .flex-next {
        display: block;
    }
    .flexslider .slide-item {
        float: left; 
        width: 50%;
    }
    .flexslider .slide-item .slide-item-box {
        position: relative;
        padding: 20px;
        margin: 0 20px 0 20px;            
        background: #fff; 
    }
    .flexslider .slide-item:first-child .slide-item-box {
        
    }
    .flexslider .slide-item .slide-item-box .slide-item-text-box{
        position: absolute; 
        top: 38px; 
        left: 40px; 
    }
    /* /JR */ 
    
    div.flexslider.four-items .slide-item  {
        width: 25%;
    }
    div.flexslider.four-items .slide-item-box,
    div.flexslider.four-items .slide-item-box:first-child {
        padding: 0px!important;
        margin: 0px 40px 0px 0px!important;
    }
    div.flexslider.four-items .slide-item-box:first-child {
        margin-right: 20px;
        margin-left: 0px;
    }
    div.flexslider .slide-item-box {
        padding: 20px!important;
        margin-left: 20px;
    }
    /* flexslider header */
    #flexslider-head {
        width: 100%;
        margin: 0px;
        position: relative;
        max-height: 750px;
        overflow: hidden;
    }
    #flexslider-head  ul.slides li {
        height: 750px;
        background-position: top center;
        background-size: 100%;
    }
    #flexslider-head-thumb {
        position: relative;        
        padding-top: 20px;
    }
    #flexslider-head-thumb .flex-active-slide{
   /* filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */

    }
    #flexslider-head-thumb .slides  li {
        height: 76px; 
        width: 76px; 
        margin-right: 10px; 
        cursor: pointer; 
        background-size: auto 76px!important;
        background-position: center center!important;
    }
  
    .header-gallery-content {
        position: absolute; 
        z-index: 10; 
        left: 0px; 
        top: 145px;
    }
    .fake-content {
        background: url(../images/fake-content.png);
        background-position: center center;
        margin-top: -50px; 
        position: relative;
    }

    

/** STORE NAVIGATOIN (INFO / BRANDS / SEPCIALS) - DESCRIPTION **/    
    div.store-navigation {
        background-image: url(../images/line-bottom.jpg);
        background-repeat: repeat-x;
        background-position: bottom;
        margin-bottom: 30px;
        padding-bottom: 32px;
        margin-top: 60px;
    }    
    div.description {
        padding: 40px;
    }
    div.description h3 {
        color: #333333;
        margin-top: 0px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 0px;
    }
    div.description p {
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        margin-top: 8px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    div.description ul.categories {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        margin-bottom: 40px;
        margin-top: 16px;
    }
    div.description ul.categories li {
        float: left;
        height: 34px; 
        line-height: 34px;
        background-color: #f0efef;
        padding: 0px 12px;
        margin-right: 5px;
        margin-bottom: 5px;
        color: #333333;
        font-size: 14px;
    }
    div.description ul.payment {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        margin-top: 14px;
    }   
    div.description ul.payment li {
        float: left;
        height: 32px; 
        width: 36px;
        line-height: 32px;
        background-color: #333333;
        margin-right: 5px;
        margin-bottom: 5px;
        color: #333333;
        font-size: 14px;
        text-align: center;
    }
    div.description ul.payment li:hover {
        background-color: #009DDC;
    }
    div.description ul.payment li:hover i {
        text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    }
    div.description ul.payment li i {
        display: block;
    }
    div.description span.type {
        display: block;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 10px;        
    }
    table.openings {
        width: 100%;
        max-width: 100%;
        border: 0px;
        padding: 0px;
        border-collapse: collapse;
        margin-bottom: 40px;
        margin-top: 14px;
    }
    table.openings tr td:last-child {
        text-align: right;
    }
    table.openings tr td {
        padding: 6px 9px 7px 9px;
        color: #333333;
        font-weight: 300;
        font-size: 14px;
        margin: 0px;
    }
    table.openings tr.today td {
        color: #18a5de;
        font-weight: 500;   
    }    
    tr:nth-child(even) {background: #ffffff}
    tr:nth-child(odd) {background: #f0efef}    
    
    dl.tabs dd {
        margin: 0px;
        height: auto;
        float: left;
        margin-right: 5px;
    }
    dl.tabs dd a.active {
        background-color: #181717;
        background-image: none;
    }    
    ul.tabs-content {
        margin: 0px;
        padding: 0px;
    }
    .line {
        background-image: url(../images/line-bottom.jpg)!important;
        background-position: top!important;
        background-repeat: repeat-x!important;
        margin-top: 32px!important; /* 2px linie */       
    }

/** STORE NAVIGATOIN (INFO / BRANDS / SEPCIALS) - DESCRIPTION **/  


    
    div.logos {
        background-image: url(../images/line-bottom.jpg);
        background-position: top;
        background-repeat: repeat-x;
        padding-top: 32px; /* 2px linie */
        margin: 30px 0px 60px!important;
    }
    div.logos ul li ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    div.logos ul.slides li:first-child {
        margin-left: 0px;
    }
    div.logos ul.slides li {
        margin-left: 40px;
        height: 215px;       
        background-color: #333333;
    }
    
    
/** SUBBRANDS POPUP **/   
    .subbrands:after, .subbrands:before { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
    .subbrands:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 5px; left: 30px; margin-left: -10px; top: -30px; } 
    .subbrands:before { border-color: rgba(0, 0, 0, 0); border-bottom-color: transparent; border-width: 16px; left: 50%; margin-left: -16px; }
    .subbrands {
        display: none; 
        
            box-sizing: border-box; 
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;        
        
        position: absolute;
        z-index: 12;
        
        border: 20px solid #FFFFFF;
        background-color: #f0efef;
        
        padding: 20px;
        width: 100%;
        max-width: 100%;
        top: 195px;
        height: 460px;
    }
    .subbrands > span.ribbon, span.ribbon {
        position: absolute;
        background-image: url(../images/top-bar.png);
        color: #fff;
        text-transform: uppercase;
        left: -20px;
        padding: 7px 20px 8px 40px;
        z-index: 5;
        top: 20px;
        font-weight: 200;
        font-size: 18px;
    }
    .subbrands ul.subbrand-listing {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        margin-top: -30px;
    }
    .subbrands ul.subbrand-listing li {
        display: none;
    
        width: 50%;
        float: left;
        background-repeat: no-repeat;
        min-height: 60px;
        margin-top: 30px;
    }
    .subbrands ul.subbrand-listing li > div {    
        margin-left: 80px;
        margin-top: 5px;
    }
    .subbrands ul.subbrand-listing li h3 {
        font-size: 21px;
        color: #ea5300;
        margin: 0px;
        padding: 0px;
        font-weight: 400;
        margin-bottom: 4px;
    }
    .subbrands ul.subbrand-listing li h3 span {
        color: #444444;
        font-weight: 200;
    }
    .subbrands ul.subbrand-listing li span.category {
        color: #444444;
        font-size: 14px;
        display: inline-block;
    }
    span.category + span.category {
        margin-left: 10px;
    }
    .subbrands ul.subbrand-listing li span.category i {
        margin-right: 5px;
    }
/* gradient verlauf  */
.subbrands .gradient {
    padding: 0px;
    background: url("../images/gradient.png") repeat-x scroll bottom transparent;
    height: 39px; 
    position: absolute; 
    left: 0px; 
    bottom: 0px; 
    z-index: 1; 
    width: 100%;
}    
    
    /* nano */
.subbrands .nano { max-width: 100%; height: 360px; margin-top: 36px; }
.subbrands .nano .content {  padding: 30px 20px 20px 0px;  }
.subbrands .content .categories { padding-bottom: 40px!important; }
.subbrands .nano .pane   {  z-index: 2; width: 6px; right: 0px; bottom: 20px; }
.subbrands .nano .slider { background: #d0d0d0; width: 6px; margin: 0px; }



/** **/
    span.notification {
        width: 25px; 
        display: inline-block; 
        /*background-image: url(../images/bg-notafication.png); */
        background-color: #009ddc;
        border-radius: 3px;
        margin-left: 10px; 
        position: relative; 
        top: -4px;
        position: relative;
        width: 30px;
        height: 20px;
        line-height: normal;
    }
    span.notification:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
    span.notification:after { border-color: rgba(0, 157, 220, 0); border-top-color: #009ddc; border-width: 5px; left: 50%; margin-left: -5px; }

    span.notification > span.count {
        cursor: pointer;
        color: #FFFFFF; 
        text-align: center; 
        font-size: 14px;
        display: block;
        text-shadow: 1px 1px 1px #666;        
    }
    
    div.notification-overlay:after, div.notification-overlay:before { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
    div.notification-overlay:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 10px; left: 0px; top: -40px; margin-left: -10px; } 
    div.notification-overlay:before { border-color: rgba(0, 0, 0, 0); border-bottom-color: transparent; border-width: 16px; left: 50%; margin-left: -16px; }    
    
    div.notification-overlay {
        display: none;
    
        height: 300px; 
        position: absolute; 
        top: 60px; 
        left: 133px; 
        z-index: 11;
        background-color: #F0EFEF; 
        color: #444444; 
        border: 20px solid #FFFFFF; 
        padding: 20px; 
        width: 400px; 
        text-align: left;
    }
    ul.notification-listing {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        margin-top: 60px;
    }
    ul.notification-listing li {
        background-repeat: no-repeat;
        min-height: 60px;
        margin-top: 30px;
        display: none;
    }
    ul.notification-listing li > div {    
        margin-left: 80px;
        margin-top: 5px;
    }
    ul.notification-listing li h3 {
        font-size: 21px;
        color: #ea5300;
        margin: 0px;
        padding: 0px;
        font-weight: 400;
        margin-bottom: 4px;
    }
    ul.notification-listing li h3 span {
        color: #444444;
        font-weight: 200;
    }    
    
.notification-overlay .nano { max-width: 460px; height: 300px; }
.notification-overlay .content .categories { padding-bottom: 40px!important; }
.notification-overlay .nano .pane   { z-index: 2; width: 6px; right: 0px; bottom: 20px; }
.notification-overlay .nano .slider { background: #d0d0d0; width: 6px; margin: 0px; }
    
/** **/    
 


 
/** FOOTER ****/
    footer {
        min-height: 295px;
        background-color: #009ddc;
        color: #fff;
    }
    footer a {
        color: #fff;
        text-decoration: none;
    }
    /* kleiner footer */
    footer.map {
        min-height: 50px;
        height: 50px;
        background-color: #f0efef;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: #333333;
        line-height: 50px;
        font-size: 14px;
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px#ccc;
        box-shadow: 0 0 5px #ccc;
    }
    footer.map a {
        color: #009ddc;
    }
    footer ul {
        float: left; 
        max-width: 100%; 
        margin: 0px; 
        padding: 0px; 
        list-style-type: none;
        font-size: 12px;
        margin-right: 40px;
        margin-top: 57px;
    }
    footer ul > li:first-child {
        margin-top: 0px;
    }
    footer ul > li {
        margin-top: 7px;        
    }
    span.locadile {
        font-size: 24px;
        display: block;
        font-weight: 300;
    }
    span.locadile span {
        font-weight: 100;
    }
    footer ul > li a {
        text-shadow: 1px 1px 1px #0792ca;
        font-weight: 300;
    }
    footer ul > li a:hover {
        text-decoration: underline;
    }
    
    footer ul li strong {
        display: block;
        border-bottom: 1px dotted #FFFFFF;
        padding-bottom: 12px;
        margin-bottom: 10px;
        font-weight: 500;
    }
/** END FOOTER ****/    
    
    /* styles kombinierbar */
    .yellow {
        background-color: #e9e07e;
    }
    .green {
        background-color: #6db8a7;
    }
    .brown {
         background-color: #dfa15e;
    }
    .yellowgreen {
        background-color: #e9e07e!important;        
    }
    .button {
        padding: 5px 10px 6px 10px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 300;
        text-transform: uppercase;
        border: 0px;
        font-family: Lato;
        text-align: left;
    }    
    .button.blue {
        background-color: #17a4d3;
        color: #ffffff;
    }
    .button.black {
        background-color: #000;
        color: #ffffff;
    }    
    .button + .button {
        margin-left: 5px;
    }
    span.blue {
        color: #009ddc;
    }
 
    .trans80 {
        opacity: 0.8;
    }
    .button span.count {
        font-weight: 400;
    }
    .black-trans80 {
        background: url(../images/top-bar.png);
        color: #fff;
    }
    .blue-trans80 {
        background: url(../images/blue-trans80.png);
        color: #fff;
    }

    a.button {
        text-decoration: none;
    }
    a.button.blue-trans80:hover, a.button.blue-trans80.active {
        background-image: none;
        background-color: #181717;
    }
    a.button.black-trans80:hover {
       background: url(../images/blue-trans80.png);
    }
    .button.fs18 {
        padding-top: 7px;
        padding-bottom: 8px;
    }    
    .fs18 { font-size: 18px; }
    .fs24 { font-size: 24px; }
    .fs12 { font-size: 12px; }
    .button.fs12 { padding: 9px 13px 9px 12px; }
    .fs30 { font-size: 30px; }
    .button.fs30 { padding: 3px 13px 5px 12px; }
    .fs21 { font-size: 21px; }
    .button.fs21 { padding: 6px 15px 7px 11px; }    
    .ttn {
        text-transform: none;
    }
    .float_l {
        float: left;
    }
    .mb5 {
        margin-bottom: 5px;
    }
    .mr5 {
        margin-right: 5px;
    }
    .open-now {
        color: green!important;
    }
    
    .brand-listing {
        margin: 0px;
        list-style-type: none;
        padding: 0px;
    }
    .brand-listing li {
        width: 25%;
        float: left;
        margin-right: 40px;
    }
    .filter {
        padding: 19px 0px;
        background-color: #6db8a7;
        text-align: center;
        font-size: 14px;
    }
    .filter + .block-grid.four-up {
        margin-top: 30px;
    }
    .block-grid.four-up li {
        text-align: center;
        background-color: #fff;
    }
    
/*
@media screen and (max-width: 1023px) {
    body {
        
    }
}
@media screen and (max-width: 995px) {
    .head  {
        height: auto;
        padding-top: 65px;
    }
    .head .start {
        position: relative;
        left: 0px;
        top: 0px;
    }
    div.iphone-start {
        display: none;
    }
    ul.features li {
        margin-top: 20px;
        display: block;
        width: 470px;
        max-width: 50%;

        margin-left: 0px;
           -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;        
    }
    
    div.get-started ul li {
        display: block;
        width: 100%;
        margin-left: 0px;
        float: none;
           -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;        
    }
}
@media screen and (max-width: 480px) {

    .featured {
        height: auto;
    }
    ul.features {
        margin: 0px;
        width: 100%;
        max-width: 100%;
    }
	ul.features li {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        float: none;
           -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    #scrollbar1 .overview, #scrollbar1 .scrollbar  {
        width: 100%;
        max-width: 1005;
    }
}*/
@media screen and (max-device-width: 480px) and (orientation: portrait){
	/* CSS Anweisungen */
}  

#geolocate {
  background:#fff;
  position:absolute;
  top:50%;
  left:50%;
  width:158px;
  margin-left:-80px;
  z-index:1000;
  font:13px/18px;
  text-align:center;
  padding:10px 0;
  background:#FFF;
  color:#3C4E5A;
  display:block;
  border:1px solid #BBB;
  -webkit-border-radius:3px;
          border-radius:3px;
  }
  #geolocate:hover { background:#ECF5FA; }
  
  /* JR */


.marker-image {
    width:43px;
    height:48px;
    margin-left:-21px;
    margin-top:-48px;
    pointer-events:all;
    position: absolute;

}


@media screen and (max-width: 360px) {

/** SUBBRANDS POPUP **/   
.subbrands {
    top: 155px;
            box-sizing: border-box; 
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-shadow: 0 0 5px #ccc;
       -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;              
}
.subbrand-listing li {
    width: 100%!important;
    max-width: 100%!important;
    float: none!important;  
}
span.category + span.category {
    margin-left: 0px;
    display: block;
}
.subbrands .nano { height: 280px; }
.nano .pane  {
    display: none!important;
}
/** SUBBRANDS POPUP **/   



    footer ul {
        display: block;
        float: none;
        width: 100%!important;
    }
    
    .head .start {
        left: 0px;
        top: 105px;
    }
    .iphone-start {
        display: none;
    }
    .top-bar ul.controlls > li {
        padding: 0px 20px;
    }
    form.store-detail-overlay {
        position: relative!important;
        width: 100%;
        
           -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;           
    }
    form.store-detail-overlay li.not-signed-in {
        height: auto;
        
    }
    a.sign-in {
        position: relative!important;
        width: 100%!important;
        height: 65px!important;
    }
    .flex-direction-nav {
        display: none;
    }
    div.store-navigation {
        margin: 20px 0;
        padding: 0px;
        background-image: none;
    }
    #flexslider-head,
    header.head{
        height: 357px;
    }
    .header-gallery-content {
        top: 105px;
    }
    div.description {
        padding: 20px;
    }
    div.flexslider ul.slides li div.slide-item {
        display: block!important;
        float: none!important;
        width: 100%;
    }
    div.flexslider ul.slides li div.slide-item-box {
        margin: 0px!important;
    }
    div.flexslider ul.slides li div.slide-item + div.slide-item {
        margin-top: 20px!important;
    }
}  

.marker-popup{
    max-width: none !important;
}
.marker-popup a:hover{
    background-color: #181717;
}



/* TRACK LOCATION */
#track-location {
    width: 500px;
    padding: 20px;
    background-color: #ffffff;
    font-weight: 300;
    position: fixed;
    z-index: 100;
    left: 50%;
    margin-left: -250px;
    top: 85px;
    box-shadow: 0px 0px 5px #aaa;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#track-location .head {
    // background-color: #009ddc;
    color: #ffffff;
    padding: 26px 20px 29px 100px;
    width: 100%;
    border-radius: 5px;
    height: auto;
    background: url(../images/track-location-icon.png) no-repeat 30px 30px #009ddc;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;    
}
#track-location .head strong {
    font-size: 30px;
    font-weight: 300;
    display: block;
}
#track-location .head a {
    color: #fff;
    text
}
#track-location .content {
    background-color: #f0efef;
    margin-top: 20px;
    padding: 25px 30px 30px 30px;
    width: 100%;
    font-size: 18px;
    height: 143px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;       
}
#track-location .content .input-location-holder {
    margin-top: 16px;
    position: relative;
}
#track-location .content .input-location-holder input {
    border: 0px;
    border-radius: 5px;
    padding: 0 0 0 75px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;      
}
#track-location .content .input-location-holder input:focus {
     box-shadow: 0px 0px 5px #aaa;
}
#track-location .content .input-frame.search:before {
    display: block;
    position: absolute;
    content:"";
    width: 55px;
    height: 30px;
    top: 10px;
    background: url(../images/input-icon-search.png) no-repeat center center transparent;
    border-right: 1px solid #f0efef;
}
#track-location .content .input-location-holder {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;     
}
#track-location .content .input-location-holder.active {
    box-shadow: 0px 0px 5px #aaa;
}
#track-location .content .input-location-holder.active > div {
    display: block;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    border-top: 1px solid #f0efef;
}
#track-location .content .input-location-holder > div {
    display: none;
}
#track-location .content .input-location-holder.active > div > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}