.input-frame + .input-frame {
	margin-top: 20px;
}

.input-frame {
	position: relative;
}

.input-frame.active {
    box-shadow: 0px 0px 5px #aaa;
}

.input-frame:before {
    display: block;
    position: absolute;
    content:"";
    width: 55px;
    height: 30px;
    top: 10px;
    border-right: 1px solid #f0efef;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.input-frame.search:before {
	background-image: url(../images/input-icon-search.png);
}

.input-frame.username:before {
	background-image: url(../images/input-icon-username.png);
}

.input-frame.password:before {
	background-image: url(../images/input-icon-password.png);
}

.input-frame + .button-nice {
	margin: 20px 0 0 0;
}

.button-nice {
	background-color: #009ddc;
	display: inline-block;
	width: 190px;
	height: 50px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 3px;
	font-size: 18px;
	cursor: pointer;
	font-weight: 100;
}
.button-nice:hover {
	box-shadow: 0px 0px 5px #aaa;
}
.button-nice.disabled {
	background-color: #7fceed;
}
.button-nice.disabled:hover {
	box-shadow: none;
}
.button-nice.alert {
	background-color: #dc4800;
}
.button-nice.alert.disabled {
	background-color: #eda37f;
}


#login .input-frame input {
    border: 0px;
    border-radius: 5px;
    padding: 0 0 0 75px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;      
}

#login input:focus {
    box-shadow: 0px 0px 5px #aaa;
}

#login form { 
	margin: 56px 0 0;
}

#login:after, #login:before { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
#login:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 10px; right: 14px; top: -40px; margin-left: -10px; } 
#login:before { border-color: rgba(0, 0, 0, 0); border-bottom-color: transparent; border-width: 16px; left: 50%; margin-left: -16px; }    


#login {
    background-color: #F0EFEF;
    border: 20px solid #FFFFFF;
    color: #444444;
    display: none;
    right: 0px;
    padding: 30px;
    position: absolute;
    text-align: left;
    top: 65px;
    width: 400px;
    z-index: 11;
    box-shadow: 0px 0px 5px #aaa;
}
#login h2 {
	margin: -7px 0 0;
	font-weight: 100;
}

#login .seperator {
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: auto;
    width: 100%;
    margin-top: 24px!important;
    background-image: url("../images/line-bottom.jpg");
    background-position: center top;
    background-repeat: repeat-x;
}

#login a {
    color: #009ddc;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

#login .locadile-for {
    font-size: 18px;
    margin: 57px 0 0 0px;
    font-weight: 100;
}

a.signup {
    margin: 0 0 0 20px;
}