input:focus {
    outline: none;
}
/* PLACEHOLDER STYLING */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #333333;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #333333;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    color: #333333;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    color: #333333;
}

/* map-controler */
#map-controler {
    position: absolute;
    left: 0;
    top: 105px;
    z-index: 1;
    height: 90px;
    width: 93px;
    background: url(../images/bg-search-control.png) no-repeat center center #fff;
    box-shadow: 0px 0px 5px #aaa;
}
#map-controler span {
    width: 16px;
    height: 16px;
    background-color: #cacaca;
    display: inline-block;
    position: absolute;
    cursor: pointer;   
    border: 0px!important;
}
#map-controler span.disabled {
    opacity: 0.5;
}
#map-controler #zoom-in {
    top: 15px;
    left: 15px;
    background: url(../images/mapcontroler/icon-zoom-in.png) no-repeat center center transparent;
}
#map-controler #zoom-out {
    bottom: 15px;
    left: 15px;
    background: url(../images/mapcontroler/icon-zoom-out.png) no-repeat center center transparent;
}
#map-controler #localization {
    top: 15px;
    right: 15px;
    background: url(../images/mapcontroler/icon-location-hover.png) no-repeat center center transparent;
}
#map-controler #fullscreen {
    bottom: 15px;
    right: 15px;
    background: url(../images/mapcontroler/icon-ka.png) no-repeat center center transparent;
}

#search .focus,
#search .active {
    box-shadow: 0px 0px 5px #aaa;
}

#search .match,
#search .active,
#search .hover {
    color: #009ddc;
}

#search strong {
    color: #aaaaaa;
    font-size: 12px;
}

#search #search-result-wrapper,
#search #category-result-wrapper,
#search #tagfilter-result-wrapper,
#search #specialfilter-result-wrapper {
    display: none;
    background: #fff;
    padding: 15px 20px;
}

#search #search-input-result-wrapper ul,
#search #category-input-result-wrapper ul,
#search #tagfilter-button-result-wrapper ul,
#search #specialfilter-result-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#search #search-result-wrapper > ul > li:first-child,
#search #category-result-wrapper > ul > li:first-child,
#search #specialfilter-result-wrapper > ul > li:first-child {
    border: 0px;
    padding-top: 0;
}

#search #search-result-wrapper > ul > li,
#search #category-result-wrapper > ul > li,
#search #specialfilter-result-wrapper > ul > li {
    border-top: 1px solid #f0efef;
    padding: 10px 0;
    font-size: 14px;
}

#search #category-result-wrapper > ul > li > i,
#search #specialfilter-result-wrapper > ul > li > i {
    width: 24px;
    display: inline-block;
}

    
/* serach-balken */
#search {
    background-color: #FFFFFF;
    height: 90px;
    position: absolute;
    right: 0;
    top: 105px;
    width: 880px;
    z-index: 1;
    box-shadow: 0px 0px 5px #aaa;
}


/*  SEARCH INPUT */    
#search #search-input-result-wrapper {
    position: absolute;
    left: 20px;
    top: 20px;
    border: 1px solid #f0efef;
    min-height: 50px;
    width: 400px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#search #search-input-result-wrapper #search-input {
    font-weight: 300!important;
    font-size: 18px;
    padding: 0 15px;
    border: 0px;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    color: #333333;
    font-size: 18px;
}

#search #search-input-result-wrapper.focus #search-input {
    border-bottom: 1px solid #f0efef;
    color: #009ddc;
}

#search #search-result-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#search #search-result-wrapper ul li:hover {
    cursor: pointer;
    color: #009DDC;
}



/*  SEARCH CATEGOTY */
#search #category-input-result-wrapper {
    position: absolute;
    z-index: 5;
    left: 440px;
    top: 20px;
    border: 1px solid #f0efef;
    width: 300px;        
    
    -webkit-border-top-left-radius: 5px;
       -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
    
    -webkit-border-bottom-left-radius: 5px;
       -moz-border-radius-bottomleft: 5px;
            border-bottom-left-radius: 5px;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;		
}

#search #category-input {
    font-weight: 300!important;
    color: #333333;
    font-size: 18px;
    width: 100%;
    height: 48px;
    padding: 0 15px;
    line-height: 50px;
    background: url(../images/tmp-dropdown.png) no-repeat scroll 270px center transparent;
    cursor: pointer;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#search #category-result-wrapper ul li {
    cursor: pointer;
}

#search #category-result-wrapper ul li:hover {
    color: #009DDC;
}

#search #category-input-result-wrapper.focus #category-input,
#search #category-input-result-wrapper.active #category-input {
    border-bottom: 1px solid #f0efef;
}



/* search tag filter */
#search #tagfilter-button-result-wrapper {
    border-radius: 5px;
    position: absolute;
    right: 90px;
    top: 20px;
    border: 1px solid #f0efef;          
    width: 350px;
    min-height: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;        
}

#search #tagfilter-button {
    cursor: pointer;
    height: 48px;
    width: 100%;
    padding: 0 15px;
    -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
       -moz-border-radius-bottomright: 5px;
            border-bottom-right-radius: 5px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-left: 0px;
    z-index: 4;
    background-position: 310px;
    background-repeat: no-repeat;
    background-image: url(../images/temp-icon-1.jpg);
}

#search #tagfilter-button:hover,
#search #tagfilter-button-result-wrapper.focus #tagfilter-button {
    background-image: url(../images/temp-icon-1-hover.png);
}

#search #tagfilter-result-wrapper .result {
    margin: 10px 0 0;
    background-color: #f0efef;
    height: 60px;
    padding: 20px;
    position: relative;
}

#search #tagfilter-result-wrapper .result .logo {
    position: absolute;
}

#search #tagfilter-result-wrapper .result .title {
    position: absolute;
    left: 100px;
    top: 28px;
    text-shadow: 1px 1px #fff;
    font-size: 18px;
}

#search #tagfilter-result-wrapper .result .distance-open {
    position: absolute;
    top: 54px;
    left: 100px;
}

#search #tagfilter-result-wrapper .result .distance {
    text-shadow: 1px 1px #fff;
    background: url(../images/tmp-distance.png) no-repeat;
    padding: 0 0 0 22px;
    margin-right: 11px;
}

#search #tagfilter-result-wrapper .result .open {
    text-shadow: 1px 1px #fff;
    background: url(../images/tmp-clock-open.png) no-repeat;
    padding: 0 0 0 22px;
    color: #278909;
}



/* search specialsfilter */
#search #specialfilter-button-result-wrapper  {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #f0efef;
    border-radius: 5px; 
    width: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    z-index: 5;
    height: 50px; /* fix for shadow */
}    

#search #specialfilter-button-result-wrapper #specialfilter-result-wrapper {
    border-radius: 5px;
    float: right;

    border: 1px solid #f0efef;          
    width: 300px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#search #specialfilter-button-result-wrapper .useless-design-element {
    background-color: #FFFFFF;
    height: 10px;
    position: absolute;
    right: 1px;
    top: 45px;
    width: 47px;
}
#search #specialfilter-button-result-wrapper.focus #specialfilter-result-wrapper {
    box-shadow: 0px 0px 5px #aaa;
}

#search #specialfilter-button-result-wrapper #specialfilter-button {
    cursor: pointer;
    background: url(../images/temp-icon-2.jpg) no-repeat center center transparent;
    height: 50px;
    width: 50px;
    float: right;   
}
#search #specialfilter-button-result-wrapper #specialfilter-button:hover,
#search #specialfilter-button-result-wrapper.focus #specialfilter-button {
    background-image: url(../images/temp-icon-2-hover.jpg);
}

#search #specialfilter-result-wrapper > ul {
    margin-top: 20px;
}



/* CHECKBOX */    
#search span.checkbox {
    border: 2px solid #333333;
    border-radius: 5px;
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;

    margin: 0 0 -4px 0;
}
#search span.checkbox.checked {
    background: url(../images/checkbox-checked.png) no-repeat center center transparent;
}
#search span.checkbox.disabled {
    border-color: #ccc;
    background-color: #f0efef;
}
#search span.checkbox.right {
    float: right;
}



/* TAGS */
ul.tags {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.tags li {
    float: left;
    background: #f0efef;
    border-radius: 5px;
    white-space: nowrap;
    padding: 10px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out; 
         -o-transition: all .25s ease-in-out;				
}
ul.tags li:hover,
ul.tags li.hover,
ul.tags li.active,
ul.tags li.checked {
    background: #009ddc;
    color: #fff;
}